*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 2px solid red;
}

body{
   width: 100%;
   max-width: 1440px;
   background-color: bisque;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

#container{
    background-color: grey;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
}

#container > div{
    margin: 20px 20px 5px 20px;
}

.display{
    display: flex;
    flex: 1;
}

.displayNumber{
    font-size: 2.5em;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex: 1;
}

.keypads{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
}

.numberButtons{
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    align-items: center;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.operators{
    flex: 1;
}

.button{
    margin: 10px;
}

.row .button.zero{
    flex: 1;
}

button{
    height: 100px;
    padding-left: 90px;
    padding-right: 90px;
}


