*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body{
   width: 100%;
   background-color: bisque;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}
button{
    cursor: pointer;
    flex: 0 0 auto;
    padding-left: 50px;
    font-size: 3rem;
    padding-right: 50px;
    border-radius: 2rem;
    
}

/* Container */

#container{
    background-color: #abd1c6;
    border: 2px solid #fffffe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
    border-radius: 2rem;
    padding: 2em;
}

/* Display */

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 2;
}

.displayNumber{
    height: 100%;
    font-size: 2.5em;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex: 1;
    border-radius: 2rem;
    background-color: white;
    border: 2px solid #001e1d;
    padding: 1em;
}

/* Display END */


/* keypad */
.keypads{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
    gap: 50px;
    
}

/* Number Buttons */

.numberButtons{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
}


.numberButtons button{
    background-color: #f9bc60;
    transition: background-color 2s;
    border: 1px solid #001e1d;
}

.numberButtons button:hover{
    background-color: #f9bc6086;
}

.row{
    
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.row .button.zero{
    flex: 1;
}


/* Operators */

.operators{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.operators button{
    background-color: #e16162;
    border: 1px solid black;
    transition: background-color 2s;
}

.operators button:hover{
    background-color: #eea2a2;

}

.row .equals, .clear, .operator{
    flex: 1;   
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* keypad End */

/* End Container */


