*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 2px solid red;
}

body{
   width: 100%;
   background-color: bisque;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
button{
    height: 100px;
    padding-left: 90px;
    font-size: 3rem;
    padding-right: 90px;
}

/* Container */

#container{
    background-color: grey;
    display: flex;
    flex-direction: column;
    height: 90%;
    flex-wrap: wrap;
    width: 90%;
}

#container > div{
    margin: 20px 20px 5px 20px;
}


/* Display */

.display{
    display: flex;
    flex: 1;
}

.displayNumber{
    font-size: 2.5em;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex: 1;
    background-color: white;
}

/* Display END */


/* keypad */
.keypads{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
}

/* Number Buttons */

.numberButtons{
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    align-items: center;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.row .button.zero{
    flex: 1;
}


/* Operators */

.operators{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

.operator.equals, .clear{
    flex: 1;   
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}


/* keypad End */

/* End Container */


